watermark
pydot
pymc
backports.ssl-match-hostname
certifi
flake8
gnureadline
ipython
Jinja2
jsonschema
MarkupSafe
mccabe
mistune
mock
nose
pep8
ptyprocess
pyflakes
Pygments
python-termstyle
pyzmq
rednose
SQLAlchemy
terminado
tornado
beautifulsoup4
bkcharts
bleach
bokeh
certifi
cffi
chardet
click
cloudpickle
cryptography
cycler
Cython
dask
decorator
dill
distributed
entrypoints
fastcache
h5py
heapdict
html5lib
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
llvmlite
locket
MarkupSafe
matplotlib
mistune
mpmath
msgpack-python
nbconvert
nbformat
networkx
notebook
numba
numexpr
numpy
olefile
packaging
pamela
pandas
pandocfilters
partd
patsy
pexpect
pickleshare
Pillow
prompt-toolkit
psutil
ptyprocess
pycosat
pycparser
Pygments
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
PyYAML
pyzmq
requests
#rpy2
ruamel-yaml
scikit-image
scikit-learn
scipy
seaborn
simplegeneric
singledispatch
six
sortedcontainers
SQLAlchemy
statsmodels
sympy
tblib
terminado
testpath
toolz
tornado
traitlets
urllib3
vincent
wcwidth
webencodings
widgetsnbextension
xgboost
xlrd
zict

